// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #013ADF;
$secondary: #A4A4A4;
$dark: #6E6E6E;
$light-gray: #F2F2F2;
$font-family-sans-serif: "Roboto", sans-serif !default;
$font-family-sans-serif: "Roboto condensed", sans-serif !default;



@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here