@import '/node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import 'custom';

html {
    position: relative;
    min-height: 100%;
}

main {
    padding-bottom: 180px;
}

footer.footer {
    padding: 18px;
    position: absolute;
    bottom: 0;
    width: 100%;
}